body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: cornsilk;
}

#computer h3{
  background: orange;
  width: fit-content;
  margin: 0 auto;
}

.wavy{
  text-decoration: #E3BF00 wavy underline;
  -webkit-text-decoration: #E3BF00 wavy underline;
}
.sesami{
  text-decoration:sesame #E3BF00 ;
  -webkit-text-emphasis:sesame #E3B;
}




